<div>
  <div class="form-box">
    <form
      novalidate
      [formGroup]="loginForm"
      class="k-form"
    >
      <fieldset>
        <legend>{{ pageTitle }}</legend>
        <kendo-formfield
          ><kendo-floatinglabel text="E-mail">
            <kendo-textbox
              formControlName="email"
            ></kendo-textbox> </kendo-floatinglabel
        ></kendo-formfield>
        <kendo-floatinglabel text="Password">
          <input formControlName="password" [type]="show?'password':'text'" kendoTextBox >
          <button kendoButton class="eyebutton"  (click)="showHidePass()">
            <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
            <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
          </button>
        </kendo-floatinglabel>
      </fieldset>
      <button
        kendoButton
        class="submitButton"
        [primary]="true"
        type="submit"
        (click)="checkUser()"
      >
        Login
      </button>
      <p class="forgotPassword">Forgot password?</p>
      <div class="pane-content">
        <p>New User? <a [routerLink]="['/signup']">Sign up</a></p>
      </div>
    </form>
  </div>
  <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
</div>