<div>
    <div class="form-box">
      <form
        novalidate
        [formGroup]="signupForm"
        class="k-form"
      >
        <fieldset>
          <legend>{{ pageTitle }}</legend>
          <kendo-formfield
            ><kendo-floatinglabel text="E-mail">
              <kendo-textbox
                formControlName="email"
              ></kendo-textbox> </kendo-floatinglabel
          ></kendo-formfield>
          <kendo-floatinglabel text="Password">
            <input formControlName="password" [type]="show?'password':'text'" kendoTextBox/>
            <button kendoButton class="eyebutton"  (click)="showHidePass()">
              <i class="fa fa-eye" aria-hidden="true" *ngIf="!show"></i>
              <i class="fa fa-eye-slash" aria-hidden="true" *ngIf="show"></i>
            </button>
          </kendo-floatinglabel>
          <kendo-floatinglabel text="Username">
            <kendo-textbox formControlName="userName"></kendo-textbox>
          </kendo-floatinglabel>
        </fieldset>
        <button
          kendoButton
          class="submitButton"
          [primary]="true"
          (click)="onSubmit()"
        >
          Sign Up
        </button>
        <div class="pane-content">
          <p>Already a user? <a [routerLink]="['/login']">Login</a></p>
        </div>
      </form>
    </div>
    <div class="alert alert-danger"
       *ngIf="errorMessage">{{errorMessage}}
  </div>
  </div>
