.k-form{
    background: rgb(225, 224, 248);
    padding: 22px;
    margin-top: 40px;
    border-radius: 10px;
    width: 344px;
}
.form-box,.pane-content{
    display: flex;
    justify-content: center;
}
.k-radio-label{
    padding: 5px;
}

.k-label{
    margin-top: 10px;
}
.k-form kendo-label{
    display: inline-block;
    padding-left: 8px;
}
.forgotPassword{
    align-self: right;
}
.k-avatar {
    display: table;
  margin: 0 auto;
  width:80px;
  height:80px
}
.alert{
    margin: 10px;
}